<#include "/default/_inc/_head.html"/>
<#include "/default/_inc/_layout2.html"/>
<!DOCTYPE HTML>
<html lang="${lang}">

<head>
	<@head />
</head>

<body id="blog">
	<@layout>
	<div>
		<div class="rollpic">
			<div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}'>
				<ul class="am-slides">
				<@et.ad id="18">
				<#list ads as ad>
					<li><img src="${ad.adCode}" /></li>
				</#list>
				</@et.ad>
				</ul>
			</div>
		</div>

		<div class=" news-all">
			<div class="am-container-1">
				<div class="news part-all">
					<div class="am-u-sm-12 am-u-md-9 am-u-lg-9">

						<div class="part-title">
							<a>
								<i class="am-icon-newspaper-o part-title-i"></i>
								<span class="part-title-span">最新动态</span>
							</a>
						</div>

						<div class="news-content ">
							<ul class="news-content-ul clear">
								<#list articleLatest as article>
								<li class="am-u-sm-12 am-u-md-6 am-u-lg-6">
									<a href="${art.href?default('/article/'+article.articleId)}">
										<div class=" am-u-sm-12 am-u-md-12 am-u-lg-5">
											<div class="news-img">
												<img src="${article.image}" />
											</div>
										</div>
										<div class=" am-u-sm-12 am-u-md-12 am-u-lg-7">
											<span class="news-right-title" style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;">${article.title}</span>
											<!--<p class="news-right-time">${article.createDate?string("yyyy-MM-dd HH:mm:ss")}</p>-->
											<p class="news-right-words" style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;">${article.description}</p>
											<a href="${art.href?default('/article/'+article.articleId)}">
												<span>更多
													<i class="am-icon-angle-double-right"></i>
												</span>
											</a>
										</div>
										<div class="clear"></div>
									</a>
								</li>
								</#list>

							</ul>
							<div class="clear"></div>
						</div>

					</div>

					<div class="am-u-sm-12 am-u-md-3 am-u-lg-3">

						<div data-am-widget="list_news" class="am-list-news am-list-news-default">
							<div class="am-list-news-hd am-cf" style=" border-bottom: 2px #0086da solid;">
								<a style="color: #0086da"><h2>最新推荐</h2></a>
							</div>

							<div class="am-list-news-bd">
								<ul class="am-list">
								<#if recommends??&&(recommends?size> 0)>
								<#list recommends as article>
								<li class="am-g am-list-item-dated">
									<a href="<#if article.href??>${article.href}<#else>/article/${article.articleId}</#if>" class="am-list-item-hd " title="${article.title}">
										${article.title}
									</a>
									<span class="am-list-date">${article.createDate?string("yyyy-MM-dd")}</span>
								</li>
								</#list>
								</#if>
								</ul>
							</div>

						</div>

					</div>
					<div class="clear"></div>

				</div>
			</div>
		</div>


		<div class="gray-li">

			<div class="customer-case part-all ">
				<div class="part-title">
					<a href="/category/2">
						<i class=" am-icon-briefcase part-title-i"></i>
						<span class="part-title-span">成功案例</span>
						<p>Customer Case</p>
					</a>
				</div>


				<ul data-am-widget="gallery" class="am-avg-sm-1 am-avg-md-4 am-avg-lg-4 am-gallery-bordered customer-case-content">
					<@et.article id="${siteId}">
					<#list article as art>
					<li class="case-li am-u-sm-6 am-u-md-6 am-u-lg-3">
						<div class="am-gallery-item case-img1">
							<a href="${art.href?default('/article/'+art.articleId)}"><img src="${art.image}" /></a>
						</div>
						<div class="case-li-mengban">
							<div class=" case-word">
								<h3 class="am-gallery-title">${art.title}</h3>
								<a target="_blank" href="${art.href?default('/article/'+art.articleId)}">
									<span><i class="am-icon-eye"></i>查看更多</span>
								</a>
							</div>
						</div>
					</li>
					</#list>
					</@et.article>
				</ul>

			</div>

			<div class="lan-bott">
				<div class="clear"></div>
			</div>

			<div class="part-title">
			</div>

		</div>
	</div>	
	</@layout>
</body>

</html>