<#include "/admin/_inc/_head.html"/>
<#include "/admin/_inc/_layout.html" />
<!DOCTYPE html>
<html lang="en">

<head>
    <@head />
</head>

<body>
<@layout>
<nav class="breadcrumb">
    <!-- <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 管理员列表 -->
    <a class="btn btn-success btn-refresh radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
       title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="pd-20">
    <div class="text-l">
        <form id="query-form">
            <input type="text" class="input-text" style="width:250px" placeholder="输入名称" id="roleName" name="roleName">
            <button type="button" class="btn btn-success" id="btn-query">
                <i class="Hui-iconfont">&#xe665;</i> 查询
            </button>
        </form>
    </div>

    <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l">
                    <a href="javascript:;" onclick="tgridObj.add();" class="btn btn-primary radius">
                        <i class="Hui-iconfont">&#xe600;</i> 添加
                    </a>
                    <a href="javascript:;" onclick="tgridObj.edit();" class="btn btn-primary radius">
                        <i class="Hui-iconfont">&#xe60c;</i> 编辑
                    </a>

                    <a href="javascript:;" onclick="tgridObj.auth();" class="btn btn-primary radius">
                        <i class="Hui-iconfont">&#xe60c;</i> 授权设置
                    </a>
                    <a href="javascript:;" onclick="tgridObj.del();" class="btn btn-danger radius">
                        <i class="Hui-iconfont">&#xe605;</i>删除
                    </a>
                </span>
        <span class="r">共有数据：
                    <strong class="total">0</strong> 条</span>
    </div>
    <table id="data-table" class="table table-bg table-hover"></table>
    <div id="pagination" class="cl pd-10 r"></div>


</div>
</@layout>

<@tablejs />
<script type="text/javascript">
    var $table = null;
    //    router.set('/ad/position/addview',function () {
    //    });


    $(function () {
        //toolbar();
        initTable()
        $('#btn-query').click(function () {
            $table.bootstrapTable('destroy');
            initTable();
        });
    });

    function initTable() {

        $table = $('#data-table').bootstrapTable({
            url: global.adminPath + '/role/datapage',  //请求后台的URL（*）
            method: 'get',   //请求方式（*）
            //toolbar: '#toolbar',  //工具按钮用哪个容器
            striped: false,   //是否显示行间隔色
            cache: false,   //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,   //是否显示分页（*）
            sortable: false,   //是否启用排序
            sortOrder: "desc",   //排序方式
            queryParams: function queryParams(params) { //传递参数（*）
                params.currentPage = params.offset;
                params.showCount = params.limit;
                params.roleName = $('#roleName').val();
                return params;
            },
            sidePagination: "server",  //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,   //初始化加载第一页，默认第一页
            pageSize: 10,   //每页的记录行数（*）
            pageList: [10, 25, 50, 100], //可供选择的每页的行数（*）
            search: false,   //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: false,   //是否显示所有的列
            showRefresh: false,   //是否显示刷新按钮
            minimumCountColumns: 2,  //最少允许的列数
            clickToSelect: true,  //是否启用点击选中行
            //height: 400,   //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "id",   //每一行的唯一标识，一般为主键列
            showToggle: false,   //是否显示详细视图和列表视图的切换按钮
            cardView: false,   //是否显示详细视图
            detailView: false,   //是否显示父子表
            columns: [
                {
                    checkbox: true
                },{
                    field: 'roleCode',
                    title: '角色CODE'
                },{
                    field: 'roleName',
                    title: '角色名称'
                },
                {
                    field: 'roleType',
                    title: '角色类型',
                    formatter:function (value, row, index) {
                        if(value=='1'){
                            return '系统'
                        }else{

                        }
                        return '未分'
                    }
                },
                {
                    field: 'roleLevel',
                    title: '角色级别'
                }/*,{
                    title: '操作',
                    formatter:function (value, row, index) {

                        return [
                            '<a class="btn btn-o btn-default" href="#/role/authview/'+row.roleId+'"><i class="fa fa-pencil-square-o"></i>权限设置</a>',
                            '<button class="btn btn-o btn-default" type="button" onclick="tgridObj.del('+row.roleId+')"><i class="fa fa-trash"></i> 移除</button>'
                        ].join('');
                    }
                }*/
            ]
        });
    }

    var tgridObj={
        add: function () {
            var url = global.adminPath + '/role/addview';
            layer_show('添加', url, 800, 400);
        },
        edit: function () {
            var obj = $table.bootstrapTable('getSelections');

            if (obj.length != 1) {
                layer.alert('请选择一条', {
                    icon: 7
                });
                return false;
            }

            var url = global.adminPath + '/role/edit/' + obj[0].roleId;
            layer_full('编辑', url);
        },
        auth:function(){
            var obj = $table.bootstrapTable('getSelections');

            if (obj.length != 1) {
                layer.alert('请选择一条', {
                    icon: 7
                });
                return false;
            }

            var url = global.adminPath + '/role/authview/' + obj[0].roleId;
            layer_full('授权设置', url);
        },
        del:function (id) {
            var obj = $table.bootstrapTable('getSelections');

            if (obj.length != 1) {
                layer.alert('请选择一条', {
                    icon: 7
                });
                return false;
            }

            layer.confirm('删除该角色，同时权限设置也删除，确定要删除吗？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.ajax({
                    data:{},
                    type:'post',
                    dataType:'json',
                    url:global.adminPath +'/role/delete/'+ obj[0].roleId,
                    success:function (res) {

                        if(res.success){
                            layer.msg(res.message, {
                                icon: 1,
                                time: 500, ///2秒关闭（如果不配置，默认是3秒）
                                //btn: ['明白了', '知道了']
                            }, function(){
                                location.reload();
                            });
                            //swal("", res.message, "success");
                            //
                        }else{
                            layer.msg(res.message, {icon: 1});
                            //swal("", res.message, "error");
                        }
                    }
                });

            }, function(){
//                取消
            });

        }
    };



</script>
</body>

</html>