<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzjie.et.system.dao.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.xzjie.et.system.model.Resource" >
    <id column="resource_id" property="resourceId" jdbcType="BIGINT" />
    <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
    <result column="perent_resource_id" property="perentResourceId" jdbcType="BIGINT" />
    <result column="resource_url" property="resourceUrl" jdbcType="VARCHAR" />
    <result column="resource_icon" property="resourceIcon" jdbcType="VARCHAR" />
    <result column="resource_order" property="resourceOrder" jdbcType="INTEGER" />
    <result column="resource_type" property="resourceType" jdbcType="INTEGER" />
    <result column="resource_desc" property="resourceDesc" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    resource_id, resource_name, perent_resource_id, resource_url, resource_icon, resource_order, 
    resource_type, resource_desc, create_date, state, group_id, create_user, permission
  </sql>

  <select id="selectResourceByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select a.* from sys_resource a inner join sys_role_resource b
    on a.resource_id = b.resource_id
    where b.role_id = #{roleId,jdbcType=BIGINT}
  </select>

  <select id="selectList" resultMap="BaseResultMap" parameterType="com.xzjie.et.system.model.Resource" >
    select
    <include refid="Base_Column_List" />
    from sys_resource
    where state=1
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_resource
    where resource_id = #{resourceId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_resource
    where resource_id = #{resourceId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xzjie.et.system.model.Resource" >
    insert into sys_resource (resource_id, resource_name, perent_resource_id, 
      resource_url, resource_icon, resource_order, 
      resource_type, resource_desc, create_date, 
      state, group_id, create_user, 
      permission)
    values (#{resourceId,jdbcType=BIGINT}, #{resourceName,jdbcType=VARCHAR}, #{perentResourceId,jdbcType=BIGINT}, 
      #{resourceUrl,jdbcType=VARCHAR}, #{resourceIcon,jdbcType=VARCHAR}, #{resourceOrder,jdbcType=INTEGER}, 
      #{resourceType,jdbcType=INTEGER}, #{resourceDesc,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{createUser,jdbcType=BIGINT}, 
      #{permission,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xzjie.et.system.model.Resource" >
    insert into sys_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="resourceName != null" >
        resource_name,
      </if>
      <if test="perentResourceId != null" >
        perent_resource_id,
      </if>
      <if test="resourceUrl != null" >
        resource_url,
      </if>
      <if test="resourceIcon != null" >
        resource_icon,
      </if>
      <if test="resourceOrder != null" >
        resource_order,
      </if>
      <if test="resourceType != null" >
        resource_type,
      </if>
      <if test="resourceDesc != null" >
        resource_desc,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="permission != null" >
        permission,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourceId != null" >
        #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="resourceName != null" >
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="perentResourceId != null" >
        #{perentResourceId,jdbcType=BIGINT},
      </if>
      <if test="resourceUrl != null" >
        #{resourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="resourceIcon != null" >
        #{resourceIcon,jdbcType=VARCHAR},
      </if>
      <if test="resourceOrder != null" >
        #{resourceOrder,jdbcType=INTEGER},
      </if>
      <if test="resourceType != null" >
        #{resourceType,jdbcType=INTEGER},
      </if>
      <if test="resourceDesc != null" >
        #{resourceDesc,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzjie.et.system.model.Resource" >
    update sys_resource
    <set >
      <if test="resourceName != null" >
        resource_name = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="perentResourceId != null" >
        perent_resource_id = #{perentResourceId,jdbcType=BIGINT},
      </if>
      <if test="resourceUrl != null" >
        resource_url = #{resourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="resourceIcon != null" >
        resource_icon = #{resourceIcon,jdbcType=VARCHAR},
      </if>
      <if test="resourceOrder != null" >
        resource_order = #{resourceOrder,jdbcType=INTEGER},
      </if>
      <if test="resourceType != null" >
        resource_type = #{resourceType,jdbcType=INTEGER},
      </if>
      <if test="resourceDesc != null" >
        resource_desc = #{resourceDesc,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=VARCHAR},
      </if>
    </set>
    where resource_id = #{resourceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzjie.et.system.model.Resource" >
    update sys_resource
    set resource_name = #{resourceName,jdbcType=VARCHAR},
      perent_resource_id = #{perentResourceId,jdbcType=BIGINT},
      resource_url = #{resourceUrl,jdbcType=VARCHAR},
      resource_icon = #{resourceIcon,jdbcType=VARCHAR},
      resource_order = #{resourceOrder,jdbcType=INTEGER},
      resource_type = #{resourceType,jdbcType=INTEGER},
      resource_desc = #{resourceDesc,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      group_id = #{groupId,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=BIGINT},
      permission = #{permission,jdbcType=VARCHAR}
    where resource_id = #{resourceId,jdbcType=BIGINT}
  </update>
</mapper>