<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzjie.gypt.system.dao.RoleResourceMapper" >
  <resultMap id="BaseResultMap" type="com.xzjie.gypt.system.model.RoleResource" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="resource_id" property="resourceId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_id, resource_id
  </sql>
  
  <select id="findRoleResourceByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
  	select 
    <include refid="Base_Column_List" />
    from sys_role_resource
    where role_id = #{roleId,jdbcType=BIGINT}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_role_resource
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteRoleResourceByRoleId">
  	delete from sys_role_resource
  	where role_id = #{roleId,jdbcType=BIGINT}
  </delete>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_role_resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <!-- <insert id="insert" parameterType="com.xzjie.gypt.system.model.RoleResource" >
    insert into sys_role_resource (id, role_id, resource_id
      )
    values (#{id,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{resourceId,jdbcType=BIGINT}
      )
  </insert> -->
  <insert id="insert" parameterType="com.xzjie.gypt.system.model.RoleResource" >
    insert into sys_role_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="resourceId != null" >
        resource_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzjie.gypt.system.model.RoleResource" >
    update sys_role_resource
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null" >
        resource_id = #{resourceId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzjie.gypt.system.model.RoleResource" >
    update sys_role_resource
    set role_id = #{roleId,jdbcType=BIGINT},
      resource_id = #{resourceId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>