<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzjie.gypt.system.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.xzjie.gypt.system.model.Role" >
    <id column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="role_type" property="roleType" jdbcType="INTEGER" />
    <result column="role_desc" property="roleDesc" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="role_level" property="roleLevel" jdbcType="INTEGER" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    role_id, role_code, role_name, role_type, role_desc, state, create_date, create_user, 
    org_id, role_level
  </sql>
  
  <select id="findUserRoles" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select r.* from sys_role r,sys_account_role ar
	where r.role_id= ar.role_id
	
	and ar.user_id=#{userId,jdbcType=BIGINT}
  </select><!-- and r.org_id=#{orgId,jdbcType=BIGINT} -->
  
  <select id="findListPage" resultMap="BaseResultMap" parameterType="pageEntity">
   select 
    <include refid="Base_Column_List" />
    ,(select o.org_name from sys_org o where o.org_id=a.org_id) org_name
    from sys_role a
    where a.state=1
    <if test="record.orgId!=null">
    and a.org_id = #{record.orgId,jdbcType=BIGINT}
    </if>
    <if test="record.roleName!=null and record.roleName!=''">
    and a.role_name like '${record.roleName}%'
    </if>
    <if test="record.roleCode!=null and record.roleCode!=''">
    and a.role_code like '${record.roleCode}%'
    </if>
  </select>
  
  <select id="findList" resultMap="BaseResultMap" parameterType="pageEntity">
   select 
    <include refid="Base_Column_List" />
    ,(select o.org_name from sys_org o where o.org_id=a.org_id) org_name
    from sys_role a
    where a.state=1
  </select>
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where role_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_role
    where role_id = #{roleId,jdbcType=BIGINT}
  </delete>
  <!-- <insert id="insert" parameterType="com.xzjie.gypt.system.model.Role" >
    insert into sys_role (role_id, role_code, role_name, 
      role_type, role_desc, state, 
      create_date, create_user, org_id, 
      role_level)
    values (#{roleId,jdbcType=BIGINT}, #{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{roleType,jdbcType=INTEGER}, #{roleDesc,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, 
      #{roleLevel,jdbcType=INTEGER})
  </insert> -->
  <insert id="insert" parameterType="com.xzjie.gypt.system.model.Role" >
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="roleCode != null" >
        role_code,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="roleType != null" >
        role_type,
      </if>
      <if test="roleDesc != null" >
        role_desc,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="roleLevel != null" >
        role_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        #{roleType,jdbcType=INTEGER},
      </if>
      <if test="roleDesc != null" >
        #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="roleLevel != null" >
        #{roleLevel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.xzjie.gypt.system.model.Role" >
    update sys_role
    <set >
      <if test="roleCode != null" >
        role_code = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        role_type = #{roleType,jdbcType=INTEGER},
      </if>
      <if test="roleDesc != null" >
        role_desc = #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="roleLevel != null" >
        role_level = #{roleLevel,jdbcType=INTEGER},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzjie.gypt.system.model.Role" >
    update sys_role
    set role_code = #{roleCode,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=INTEGER},
      role_desc = #{roleDesc,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      org_id = #{orgId,jdbcType=BIGINT},
      role_level = #{roleLevel,jdbcType=INTEGER}
    where role_id = #{roleId,jdbcType=BIGINT}
  </update>
</mapper>