<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzjie.et.wechat.dao.WxAccountFollowMapper">
  <resultMap id="BaseResultMap" type="com.xzjie.et.wechat.model.WxAccountFollow">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="subscribe" jdbcType="INTEGER" property="subscribe" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="subscribe_date" jdbcType="TIMESTAMP" property="subscribeDate" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="groupid" jdbcType="VARCHAR" property="groupid" />
    <result column="tagid_list" jdbcType="VARCHAR" property="tagidList" />
    <result column="subscribe_scene" jdbcType="VARCHAR" property="subscribeScene" />
    <result column="qr_scene" jdbcType="VARCHAR" property="qrScene" />
    <result column="qr_scene_str" jdbcType="VARCHAR" property="qrSceneStr" />
    <result column="site_id" jdbcType="BIGINT" property="siteId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <sql id="Base_Column_List">
    id, open_id, subscribe, nick_name, sex, city, country, province, `language`, avatar, subscribe_date,
    unionid, remark, groupid, tagid_list, subscribe_scene, qr_scene, qr_scene_str, site_id, user_id, create_date, status
  </sql>

    <select id="exist" resultType="int" parameterType="com.xzjie.et.wechat.model.WxAccountFollow">
        select
        count(1)
        from wx_account_follow
        where status=1
        <if test="userId != null">
            and user_id = #{userId,jdbcType=BIGINT}
        </if>
        <if test="siteId != null and siteId != ''">
            and site_id = #{siteId,jdbcType=BIGINT}
        </if>
        <if test="openId != null and openId != ''">
            and open_id = #{openId,jdbcType=VARCHAR}
        </if>

    </select>

  <select id="selectListPage" resultMap="BaseResultMap" parameterType="entity">
    select
    <include refid="Base_Column_List" />
    from wx_account_follow a
    where site_id = #{t.siteId,jdbcType=BIGINT}
    order by create_date desc
  </select>

  <insert id="insert" parameterType="com.xzjie.et.wechat.model.WxAccountFollow">
    insert into wx_account_follow (id, open_id, subscribe, 
      nick_name, sex, city, 
      country, province, language, 
      avatar, subscribe_date, unionid, 
      remark, groupid, tagid_list, 
      subscribe_scene, qr_scene, qr_scene_str, 
      site_id, user_id, create_date, 
      status)
    values (#{id,jdbcType=BIGINT}, #{openId,jdbcType=VARCHAR}, #{subscribe,jdbcType=INTEGER}, 
      #{nickName,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{subscribeDate,jdbcType=TIMESTAMP}, #{unionid,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{groupid,jdbcType=VARCHAR}, #{tagidList,jdbcType=VARCHAR}, 
      #{subscribeScene,jdbcType=VARCHAR}, #{qrScene,jdbcType=VARCHAR}, #{qrSceneStr,jdbcType=VARCHAR}, 
      #{siteId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="com.xzjie.et.wechat.model.WxAccountFollow">
    insert into wx_account_follow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="subscribe != null">
        subscribe,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="subscribeDate != null">
        subscribe_date,
      </if>
      <if test="unionid != null">
        unionid,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
      <if test="tagidList != null">
        tagid_list,
      </if>
      <if test="subscribeScene != null">
        subscribe_scene,
      </if>
      <if test="qrScene != null">
        qr_scene,
      </if>
      <if test="qrSceneStr != null">
        qr_scene_str,
      </if>
      <if test="siteId != null">
        site_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="subscribe != null">
        #{subscribe,jdbcType=INTEGER},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="subscribeDate != null">
        #{subscribeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="tagidList != null">
        #{tagidList,jdbcType=VARCHAR},
      </if>
      <if test="subscribeScene != null">
        #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="qrScene != null">
        #{qrScene,jdbcType=VARCHAR},
      </if>
      <if test="qrSceneStr != null">
        #{qrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null">
        #{siteId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>