<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzjie.et.wechat.dao.WxAccountMapper" >
  <resultMap id="BaseResultMap" type="com.xzjie.et.wechat.model.WxAccount" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="site_id" property="siteId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="stype" property="stype" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="appsecret" property="appsecret" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, site_id, user_id, name, code, token, stype, email, description, appid,
    appsecret, create_date, update_date, state, url
  </sql>
  
  <select id="exist" resultType="int" parameterType="com.xzjie.et.wechat.model.WxAccount">
  	select 
    count(1)
    from wx_account
    where state=1
	<if test="userId != null">
	and user_id = #{userId,jdbcType=BIGINT}
	</if>
    <if test="name != null and name != ''">
      and name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="code != null and code != ''">
      and code = #{code,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectListPage" resultMap="BaseResultMap" parameterType="entity">
  	select
	<include refid="Base_Column_List" />
	from wx_account
	where state=1
	<if test="t.userId != null">
	and user_id = #{t.userId,jdbcType=BIGINT}
	</if>
	<if test="t.stype != null">
	and stype = #{t.stype,jdbcType=INTEGER}
	</if>
	<if test="t.name != null and t.name != ''">
	and name like '${t.name}%'
	</if>

  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from wx_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectWxAccount" resultMap="BaseResultMap" parameterType="com.xzjie.et.wechat.model.WxAccount" >
    select 
    <include refid="Base_Column_List" />
    from wx_account
    where state=1
    <if test="userId != null">
      and user_id = #{userId,jdbcType=BIGINT}
    </if>
    <if test="siteId != null">
      and site_id = #{siteId,jdbcType=BIGINT}
    </if>
    <if test="name != null and name != ''">
      and name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="code != null and code != ''">
      and code = #{code,jdbcType=VARCHAR}
    </if>
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wx_account
    where wx_acc_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xzjie.et.wechat.model.WxAccount" >
    insert into wx_account (id, site_id, user_id,
      name, code, token,
      stype, email, description, 
      appid, appsecret, create_date, 
      update_date)
    values (#{id,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
      #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR},
      #{stype,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{appid,jdbcType=VARCHAR}, #{appsecret,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xzjie.et.wechat.model.WxAccount" >
    insert into wx_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="stype != null" >
        stype,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="appsecret != null" >
        appsecret,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="stype != null" >
        #{stype,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appsecret != null" >
        #{appsecret,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzjie.et.wechat.model.WxAccount" >
    update wx_account
    <set >
      <if test="siteId != null" >
        site_id = #{siteId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="stype != null" >
        stype = #{stype,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appsecret != null" >
        appsecret = #{appsecret,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzjie.et.wechat.model.WxAccount" >
    update wx_account
    set site_id = #{siteId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      stype = #{stype,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR},
      appsecret = #{appsecret,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>