<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzjie.gypt.wechat.dao.WXButtonMapper" >
  <resultMap id="BaseResultMap" type="com.xzjie.gypt.wechat.model.WXButton" >
    <id column="button_id" property="buttonId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="p_button_id" property="pButtonId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="button_key" property="buttonKey" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="media_id" property="mediaId" jdbcType="VARCHAR" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="perent_name" property="perentName" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="WXButtonTree" type="com.xzjie.gypt.wechat.model.WXButton" extends="BaseResultMap">
  	<collection column="{buttonId=button_id,userId=user_id}" property="children" ofType="com.xzjie.gypt.wechat.model.WXButton" javaType="java.util.ArrayList" select="findChildren" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    button_id, user_id, p_button_id, name, button_key, type, url, media_id, orders, create_date
  </sql>
  
  <!-- 查询树 -->
  <select id="findWXButtonTree" resultMap="WXButtonTree" parameterType="com.xzjie.gypt.wechat.model.WXButton">
  	select 
    button_id, user_id, p_button_id, name, orders
    from wx_button
  	where p_button_id=0 and user_id = #{userId,jdbcType=BIGINT}
  	order by orders 
  </select>
  
  <select id="findChildren" resultMap="WXButtonTree" parameterType="java.util.Map" >
  	select 
    button_id, user_id, p_button_id, name, orders
    from wx_button
  	where p_button_id=#{buttonId,jdbcType=BIGINT}
  	and user_id = #{userId,jdbcType=BIGINT}
  	order by orders 
  </select>
  <!-- /查询树 -->
  
  <select id="findListPage" resultMap="BaseResultMap" parameterType="PageEntity">
  	select
	<include refid="Base_Column_List" />
	,(select name from wx_button b where b.button_id=a.p_button_id) perent_name
	from wx_button a
	where user_id = #{record.userId,jdbcType=BIGINT}
	order by orders 
  </select>
  
  <select id="findList" resultMap="BaseResultMap" parameterType="com.xzjie.gypt.wechat.model.WXButton">
  	select
	<include refid="Base_Column_List" />
	from wx_button a
	where 1=1
	<if test="userId != null">
	and user_id = #{userId,jdbcType=BIGINT}
	</if>
	<if test="pButtonId != null">
	and p_button_id = #{pButtonId,jdbcType=BIGINT}
	</if>
	order by orders 
  </select>
  
  <!-- <if test="record.stype != null">
	and stype = #{record.stype,jdbcType=INTEGER}
	</if>
	<if test="record.wxName != null">
	and wx_name like '${record.wxName}%'
	</if> -->
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from wx_button
    where button_id = #{buttonId,jdbcType=BIGINT}
  </select>
  
  <delete id="delete" parameterType="com.xzjie.gypt.wechat.model.WXButton">
    delete from wx_button
    where button_id = #{buttonId,jdbcType=BIGINT}
  </delete>
  <!-- <insert id="insert" parameterType="com.xzjie.gypt.wechat.model.WXButton" >
    insert into wx_button (button_id, p_button_id, name, 
      button_key, type, url, 
      media_id, orders)
    values (#{buttonId,jdbcType=BIGINT}, #{pButtonId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{buttonKey,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{mediaId,jdbcType=VARCHAR}, #{orders,jdbcType=INTEGER})
  </insert> -->
  <insert id="insert" parameterType="com.xzjie.gypt.wechat.model.WXButton" >
    insert into wx_button
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="buttonId != null" >
        button_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="pButtonId != null" >
        p_button_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="buttonKey != null" >
        button_key,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="mediaId != null" >
        media_id,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="buttonId != null" >
        #{buttonId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="pButtonId != null" >
        #{pButtonId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="buttonKey != null" >
        #{buttonKey,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null" >
        #{mediaId,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.xzjie.gypt.wechat.model.WXButton" >
    update wx_button
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="pButtonId != null" >
        p_button_id = #{pButtonId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="buttonKey != null" >
        button_key = #{buttonKey,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null" >
        media_id = #{mediaId,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where button_id = #{buttonId,jdbcType=BIGINT}
  </update>
  <!-- <update id="updateByPrimaryKey" parameterType="com.xzjie.gypt.wechat.model.WXButton" >
    update wx_button
    set p_button_id = #{pButtonId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      button_key = #{buttonKey,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      media_id = #{mediaId,jdbcType=VARCHAR},
      orders = #{orders,jdbcType=INTEGER}
    where button_id = #{buttonId,jdbcType=BIGINT}
  </update> -->
</mapper>