<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzjie.et.wechat.dao.WxGroupFollowMapper">
  <resultMap id="BaseResultMap" type="com.xzjie.et.wechat.model.WxGroupFollow">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="follow_id" jdbcType="BIGINT" property="followId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_id, follow_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_group_follow
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wx_group_follow
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="batchInsert" useGeneratedKeys="true" parameterType="java.util.List">
    insert into  wx_group_follow (id, group_id, follow_id)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{id,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{followId,jdbcType=BIGINT})
    </foreach>
  </insert>
  <insert id="insert" parameterType="com.xzjie.et.wechat.model.WxGroupFollow">
    insert into wx_group_follow (id, group_id, follow_id
      )
    values (#{id,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{followId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xzjie.et.wechat.model.WxGroupFollow">
    insert into wx_group_follow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="followId != null">
        follow_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="followId != null">
        #{followId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzjie.et.wechat.model.WxGroupFollow">
    update wx_group_follow
    <set>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="followId != null">
        follow_id = #{followId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzjie.et.wechat.model.WxGroupFollow">
    update wx_group_follow
    set group_id = #{groupId,jdbcType=BIGINT},
      follow_id = #{followId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>