.classpath
.project
.settings
.vscode
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.versionsBackup

target
logs

compile.bat

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###


upload.sh
docker-compose-*.yml
/hbase/
/pinpoint-docker/
docs/*.sql
/pinpoint-docker-master.zip

HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

application-local.yml
application-temp.yml
application-prod.yml

