<!DOCTYPE html>
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<!-- start: HEAD -->
	<head>
		<title>登录</title>
		<!-- start: META -->
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: GOOGLE FONTS -->
		<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
		<!-- end: GOOGLE FONTS -->
		<!-- start: MAIN CSS -->
		<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/vendor/themify-icons/themify-icons.min.css">
		<link href="/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
		<link href="/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
		<link href="/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
		<!-- end: MAIN CSS -->
		<!-- start: CLIP-TWO CSS -->
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="stylesheet" href="/assets/css/plugins.css">
		<link rel="stylesheet" href="/assets/css/themes/theme-1.css" id="skin_color" />
		<!-- end: CLIP-TWO CSS -->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->


	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body class="login">
		<!-- start: LOGIN -->
		<div class="row">
			<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
				<div class="logo margin-top-30">
					<img src="/assets/images/logo.png" alt="鹰视科技"/>
				</div>
				<!-- start: LOGIN BOX -->
				<div class="box-login">
					<form class="form-login" action="" method="post">
						<fieldset>
							<legend>
								登录
							</legend>
							<#if error?exists>
							<div class="alert alert-danger" style="color: #e5504d;padding: 10px; background-color: #fbf6f6; border-color: #ffffff;">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								${error}
							</div>
							</#if>
							<div class="form-group">
								<span class="input-icon">
									<input type="text" class="form-control" name="username" placeholder="用户名" value="${username}" >
									<i class="fa fa-user"></i> </span>
							</div>
							<div class="form-group form-actions">
								<span class="input-icon">
									<input type="password" class="form-control password" name="password" placeholder="密码">
									<i class="fa fa-lock"></i>
									<a class="forgot" href="login_forgot.html">
										忘记密码
									</a> </span>
							</div>

						<#--登录次数-->
						<#if incorrectNumber gt 1>
						<div class="form-group text-left">
                            <label class=" control-label" >
                                验证码：<span class="symbol " aria-required="true"></span>
                            </label>

							<input name="captcha" class="form-control" type="text" placeholder="验证码"
								   style="width:150px;display: inline-block;vertical-align: middle;">
							<img id="captcha-img" src="/kaptcha/image" style="width: 100px;height: 35px;">
							<a id="btn-kaptcha" href="javascript:;"> 看不清,换一张</a>

						</div>

						</#if>

							<div class="form-actions">
								<div class="checkbox clip-check check-primary">
									<input type="checkbox" name="rememberMe" id="remember" value="true">
									<label for="remember">
										记住我
									</label>
								</div>
								<button type="submit" class="btn btn-primary pull-right">
									<i class="fa fa-arrow-circle-right"></i> 登 录
								</button>
							</div>
							<!--<div class="new-account">
								Don't have an account yet?
								<a href="login_registration.html">
									Create an account
								</a>
							</div>-->
						</fieldset>
					</form>
					<!-- start: COPYRIGHT -->
					<div class="copyright">
						&copy; <span class="current-year"></span><span class="text-bold text-uppercase"> ClipTheme</span>. <span>All rights reserved</span>
					</div>
					<!-- end: COPYRIGHT -->
				</div>
				<!-- end: LOGIN BOX -->
			</div>
		</div>
		<!-- end: LOGIN -->

		<!-- start: MAIN JAVASCRIPTS -->
        <script>
            if (window.top !== window.self) {
                window.top.location = window.location;
            }
        </script>
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="/vendor/modernizr/modernizr.js"></script>
		<script src="/vendor/jquery-cookie/jquery.cookie.js"></script>
		<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script src="/vendor/switchery/switchery.min.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
		<script src="/vendor/jquery-validation/localization/messages_zh.js"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CLIP-TWO JAVASCRIPTS -->
		<script src="/assets/js/main.js"></script>
		<!-- start: JavaScript Event Handlers for this page -->
		<script src="/assets/js/login.js"></script>
		<script>
			jQuery(document).ready(function() {
				Main.init();
				Login.init();
                $('#btn-kaptcha,#captcha-img').click(function () {
                    $('#captcha-img').attr('src', '/kaptcha/image');
                });
			});
		</script>
		<!-- end: JavaScript Event Handlers for this page -->
		<!-- end: CLIP-TWO JAVASCRIPTS -->
	</body>
	<!-- end: BODY -->
</html>