<#include "/admin/_inc/_head.html"/>
<#include "/admin/_inc/_layout.html"/>

<!DOCTYPE HTML>
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="${lang}">

<head>
    <@head />
</head>
<body>
<@layout>
<div class="wrap-content" id="container">
<!-- start: PAGE TITLE -->
<section id="page-title" >
    <div class="row">
        <div class="col-sm-8">
            <label>管理员- 管理员列表</label>
        </div>

    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: BASIC TABLE -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <#--<div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div><i class="fa fa-question-circle"></i>操作提示</div>
                <ul>
                    <li>展示网站所有的广告位置。</li>
                    <li>点击查看可查看广告位置相关广告位的广告。</li>
                    <li>可搜索关键词进行查询，侧边栏可进行高级搜索。</li>
                </ul>
            </div>-->

            <div id="toolbar">
                <a id="btn-add" href="${ctx_admin}/account/addview" class="btn btn-o btn-danger">添加管理员</a>
                <!--<button id="btn-update" type="button" class="btn btn-primary">修改</button>
                <button id="btn-updatepwd" type="button" class="btn btn-primary">修改密码</button>
                <button id="btn-scene" type="button" class="btn btn-primary">设置监控点</button>-->
            </div>
            <table id="data-table" class="table table-hover col-xs-12" data-toolbar="#toolbar"></table>
        </div>
    </div>
</div>
</div>
</@layout>
<script type="text/javascript" >

    var $table = null;
    //    router.set('/ad/position/addview',function () {
    //    });


    $(function () {
        //toolbar();
        initTable()
        $('#btn-query').click(function () {
            $table.bootstrapTable('destroy');
            initTable();
        });
    });

    function initTable() {

        $table = $('#data-table').bootstrapTable({
            url: global.adminPath + '/account/datapage',  //请求后台的URL（*）
            method: 'get',   //请求方式（*）
            //toolbar: '#toolbar',  //工具按钮用哪个容器
            striped: false,   //是否显示行间隔色
            cache: false,   //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,   //是否显示分页（*）
            sortable: false,   //是否启用排序
            sortOrder: "desc",   //排序方式
            queryParams: function queryParams(params) { //传递参数（*）
                params.username = $('#usrename').val();
                return params;
            },
            sidePagination: "server",  //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,   //初始化加载第一页，默认第一页
            pageSize: 10,   //每页的记录行数（*）
            pageList: [10, 25, 50, 100], //可供选择的每页的行数（*）
            search: false,   //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: false,   //是否显示所有的列
            showRefresh: false,   //是否显示刷新按钮
            minimumCountColumns: 2,  //最少允许的列数
            clickToSelect: true,  //是否启用点击选中行
            //height: 400,   //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "id",   //每一行的唯一标识，一般为主键列
            showToggle: false,   //是否显示详细视图和列表视图的切换按钮
            cardView: false,   //是否显示详细视图
            detailView: false,   //是否显示父子表
            columns: [
                {
                    checkbox: true
                },{
                    field: 'name',
                    title: '用户名称'
                },{
                    field: 'nickName',
                    title: '昵称(真实名称)'
                },{
                    field:'sex',
                    title:'性别',
                    formatter:function (value, row, index) {
                        if(value=='2'){
                            return '女'
                        }else if(value=='1'){
                            return '男'
                        }
                        return '未知'
                    }
                },
                {
                    field: 'phone',
                    title: '手机号'
                },
                {
                    field: 'eMail',
                    title: '邮箱'
                },{
                    field:'locked',
                    title: '是否冻结',
                    formatter:function (value, row, index) {
                        if(value=='1'){
                            return '正常'
                        }else if(value=='0'){
                            return '冻结'
                        }
                    }
                },{
                    title: '操作',
                    formatter:function (value, row, index) {

                        return [
                            '<button class="btn btn-o btn-default" onclick="tgridObj.resetpwd('+row.userId+')"><i class="fa fa-eye"></i> 重置密码</button>',
                            /*'<a class="btn btn-o btn-default" href="#/ad/position'+row.id+'"><i class="fa fa-pencil-square-o"></i> 编辑</a>',*/
                            '<button class="btn btn-o btn-default" type="button" onclick="tgridObj.del('+row.userId+')"><i class="fa fa-trash"></i> 移除</button>'
                        ].join('');
                    }
                }
            ]
        });
    }

    var tgridObj={
        resetpwd:function(id){
            $.ajax({
                data:{},
                type:'post',
                dataType:'json',
                url: global.adminPath + '/account/resetpwd/'+id,
                success:function (res) {
                    if(res.success){
                        layer.msg(res.message, {
                            icon: 1,
                            time: 2000, ///2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            layer.alert("新密码:"+res.data, {
                                skin: 'layui-layer-lan'
                                ,closeBtn: 0
                                //,anim: 4 //动画类型
                            });
                        });
                    }else{
                        layer.msg(res.message, {icon: 2});
                    }
                }
            });
        },
        del:function (id) {
            $.ajax({
                data:{},
                type:'post',
                dataType:'json',
                url: global.adminPath + '/account/delete/'+id,
                success:function (res) {
                    debugger
                    if(res.success){
                        layer.msg(res.message, {
                            icon: 1,
                            time: 2000, ///2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            $table.bootstrapTable('destroy');
                            initTable();
                        });
                    }else{
                        layer.msg(res.message, {icon: 2});
                    }
                }
            });
        }
    };

</script>
</body>
</html>