<#assign lang="zh-CN" />
<#assign article_categoryId=2 />

<#assign ad_home_banner="home_banner" />
<#assign ad_category_activity="category_activity" />
<#--<#assign siteId="${cid}" />
<@et.site id="${siteId}">
<#assign ctx="${site.siteUrl}" />
<#assign logo="${site.logo?default('img/logo.png')}" />
<#assign site_name="${site.siteName?default('鹰视科技')}" />
<#assign site_title="${site.title?default('')}" />
</@et.site>
<#assign cdn="${resources}/resources/assets" />
<#assign f_ctx="${ctx}/f" />-->
