<#include "/default/_inc/_common.html"/>
<#macro head title="" keywords="" description="" >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>鹰视科技</title>
    <meta name="baidu-site-verification" content="gibLcvPw0x" />
    <meta name="keywords" content="鹰视科技">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="${ctx}/favicon.ico">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="${ctx}/favicon.ico">
    <#-- <link rel="icon" sizes="192x192" href="${ctx}/resources/front/assets/i/app-icon72x72@2x.png"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="技术网,编程技术网,IT技术网"/>
    <meta name="baidu-site-verification" content="gibLcvPw0x" />
    <link rel="apple-touch-icon-precomposed" href="/image/logo.png">
    <meta name="msapplication-TileImage" content="/image/logo.png">
    <#-- <link rel="apple-touch-icon-precomposed" href="${ctx}/resources/front/assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="${ctx}/resources/front/assets/i/app-icon72x72@2x.png"> -->
    <meta name="msapplication-TileColor" content="#0e90d2">

    <base href="${ctx}">

    <link rel="alternate icon" type="img/logo.png" href="/image/logo.png">
    <link rel="stylesheet" href="/css/amazeui.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <style type="text/css">
        .am-slider .am-viewport {
            max-height: 400px;
        }

        .thumbnails {
            max-height: 145px;
        }

        .description {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }

        .hw-menu > li {
            border-bottom: 4px solid transparent;
        }

        .hw-menu-sub > li {
            height: inherit;
            border-bottom: 4px solid transparent;
        }

        .hw-menu-sub li > a {
            line-height: inherit;
        }

        .hw-menu-sub li > a:hover {
            border-radius: 0px;
        }

        .hw-menu-sub > li:hover {

            border-bottom: 4px solid #0086da;
        }

        .hw-menu-sub > li.hw-menu-active {
            background: #0086da;
        }
        .solution-inform-content-all{width: auto}
    </style>
</#macro>
