<html>
<head>
    <title></title>
</head>
<body>
<script src="https://gw.alipayobjects.com/as/g/h5-lib/alipayjsapi/3.1.1/alipayjsapi.inc.min.js"></script>

<button id="J_btn_url" class="btn btn-default">打开淘宝首页</button>
<button id="J_btn_withData" class="btn btn-default">打开高德地图搜索页面</button>
<script>
    var btnUrl = document.querySelector('#J_btn_url');
    var btnWithData = document.querySelector('#J_btn_withData');
    btnUrl.addEventListener('click', function(){
        ap.pushWindow('https://m.taobao.com/#index');
    });
    btnWithData.addEventListener('click', function(){
        ap.pushWindow({
            url: 'http://uri.amap.com/search',
            data: {
                keyword: '美食',
                city: '310100',
                view: 'map'
            }
        });
    });
</script>
</body>
</html>
