<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzjie.gypt.cms.dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.xzjie.gypt.cms.model.Article" >
    <id column="article_id" property="articleId" jdbcType="BIGINT" />
    <result column="category_id" property="categoryId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="href" property="href" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="count_view" property="countView" jdbcType="INTEGER" />
    <result column="count_comment" property="countComment" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="approve_status" property="approveStatus" jdbcType="INTEGER" />
    <result column="publish_date" property="publishDate" jdbcType="TIMESTAMP" />
    <result column="publish_author" property="publishAuthor" jdbcType="BIGINT" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="recommend_type" property="recommendType" jdbcType="INTEGER" />
    <result column="author_name" property="authorName" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    article_id, category_id, title, href, image, keywords, description, author, create_date, 
    update_date, count_view, count_comment, sort, status, approve_status, publish_date, 
    publish_author, start_time, end_time, remarks, recommend_type
  </sql>
  
  <select id="findListPage" resultMap="BaseResultMap" parameterType="pageEntity" >
  	select a.*,b.category_name 
  	,(select name from sys_account where user_id = a.author) author_name
  	from cms_article a , cms_category b ,cms_site c
  	where a.status=1
  	and a.category_id=b.category_id and b.site_id=c.site_id
  	and c.site_id=#{record.siteId,jdbcType=BIGINT}
    <if test="record.categoryId != null" >
    and b.category_id = #{record.categoryId,jdbcType=BIGINT}
    </if>
    <if test="record.recommendType != null">
    and a.recommend_type = #{record.recommendType,jdbcType=BIGINT}
    </if>
    order by a.create_date desc
  </select>
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,(select name from sys_account where user_id = author) author_name
    ,(select content from cms_article_content b where b.article_id = a.article_id) content
    from cms_article a
    where article_id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cms_article
    where article_id = #{articleId,jdbcType=BIGINT}
  </delete>
  <!-- <insert id="insert" parameterType="com.xzjie.gypt.cms.model.Article" >
    insert into cms_article (article_id, category_id, title, 
      href, image, keywords, 
      description, author, create_date, 
      update_date, count_view, count_comment, 
      sort, status, approve_status, 
      publish_date, publish_author, start_time, 
      end_time, remarks, recommend_type
      )
    values (#{articleId,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{href,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{author,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{countView,jdbcType=INTEGER}, #{countComment,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{approveStatus,jdbcType=INTEGER}, 
      #{publishDate,jdbcType=TIMESTAMP}, #{publishAuthor,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{recommendType,jdbcType=INTEGER}
      )
  </insert> -->
  <insert id="insert" parameterType="com.xzjie.gypt.cms.model.Article" useGeneratedKeys="true" keyProperty="articleId">
    insert into cms_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="href != null" >
        href,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="countView != null" >
        count_view,
      </if>
      <if test="countComment != null" >
        count_comment,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="approveStatus != null" >
        approve_status,
      </if>
      <if test="publishDate != null" >
        publish_date,
      </if>
      <if test="publishAuthor != null" >
        publish_author,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="recommendType != null" >
        recommend_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="countView != null" >
        #{countView,jdbcType=INTEGER},
      </if>
      <if test="countComment != null" >
        #{countComment,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="approveStatus != null" >
        #{approveStatus,jdbcType=INTEGER},
      </if>
      <if test="publishDate != null" >
        #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="publishAuthor != null" >
        #{publishAuthor,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="recommendType != null" >
        #{recommendType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.xzjie.gypt.cms.model.Article" >
    update cms_article
    <set >
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="countView != null" >
        count_view = #{countView,jdbcType=INTEGER},
      </if>
      <if test="countComment != null" >
        count_comment = #{countComment,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="approveStatus != null" >
        approve_status = #{approveStatus,jdbcType=INTEGER},
      </if>
      <if test="publishDate != null" >
        publish_date = #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="publishAuthor != null" >
        publish_author = #{publishAuthor,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="recommendType != null" >
        recommend_type = #{recommendType,jdbcType=INTEGER},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzjie.gypt.cms.model.Article" >
    update cms_article
    set category_id = #{categoryId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      href = #{href,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      author = #{author,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      count_view = #{countView,jdbcType=INTEGER},
      count_comment = #{countComment,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      approve_status = #{approveStatus,jdbcType=INTEGER},
      publish_date = #{publishDate,jdbcType=TIMESTAMP},
      publish_author = #{publishAuthor,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      recommend_type = #{recommendType,jdbcType=INTEGER}
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>
</mapper>