<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzjie.et.cms.dao.SiteMapper" >
  
  <resultMap id="BaseResultMap" type="com.xzjie.et.cms.model.Site" >
    <id column="site_id" property="siteId" jdbcType="BIGINT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="site_name" property="siteName" jdbcType="VARCHAR" />
    <result column="site_url" property="siteUrl" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="copyright" property="copyright" jdbcType="VARCHAR" />
    <result column="site_style" property="siteStyle" jdbcType="VARCHAR" />
    <result column="site_mobile_style" property="siteMobileStyle" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="theme" property="theme" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    site_id, org_id, logo, site_name, site_url, title, keywords, description, copyright, site_style,
    site_mobile_style, create_date, update_date, state, theme
  </sql>

  <select id="selectSiteByAppId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select a.* from cms_site a inner join cms_site_account b on a.`site_id`=b.`site_id`
    inner join sys_oauth_client_account c on b.`user_id`=c.`user_id`
    where c.`app_id`=#{appId,jdbcType=BIGINT}
  </select>
  
  <select id="getEntity" resultMap="BaseResultMap" parameterType="com.xzjie.et.cms.model.Site">
 	select 
    <include refid="Base_Column_List" />
    from cms_site
    where 1=1
    <if test="orgId != null">
    and org_id = #{orgId,jdbcType=BIGINT}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cms_site
    where site_id = #{siteId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cms_site
    where site_id = #{siteId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xzjie.et.cms.model.Site" >
    insert into cms_site (site_id, org_id, site_name, 
      site_url, keywords, description, 
      copyright, site_style, site_mobile_style, 
      create_date, update_date, state
      )
    values (#{siteId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, #{siteName,jdbcType=VARCHAR}, 
      #{siteUrl,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{copyright,jdbcType=VARCHAR}, #{siteStyle,jdbcType=VARCHAR}, #{siteMobileStyle,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xzjie.et.cms.model.Site" >
    insert into cms_site
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="siteName != null" >
        site_name,
      </if>
      <if test="siteUrl != null" >
        site_url,
      </if>
      <if test="title != null" >
        title
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="copyright != null" >
        copyright,
      </if>
      <if test="siteStyle != null" >
        site_style,
      </if>
      <if test="siteMobileStyle != null" >
        site_mobile_style,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="theme != null">
        theme,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="siteId != null" >
        #{siteId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="siteName != null" >
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteUrl != null" >
        #{siteUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="copyright != null" >
        #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="siteStyle != null" >
        #{siteStyle,jdbcType=VARCHAR},
      </if>
      <if test="siteMobileStyle != null" >
        #{siteMobileStyle,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="theme != null">
        #{theme,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzjie.et.cms.model.Site" >
    update cms_site
    <set >
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="siteName != null" >
        site_name = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteUrl != null" >
        site_url = #{siteUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="copyright != null" >
        copyright = #{copyright,jdbcType=VARCHAR},
      </if>
      <if test="siteStyle != null" >
        site_style = #{siteStyle,jdbcType=VARCHAR},
      </if>
      <if test="siteMobileStyle != null" >
        site_mobile_style = #{siteMobileStyle,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="theme != null">
        theme =#{theme,jdbcType=VARCHAR}
      </if>
    </set>
    where site_id = #{siteId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzjie.et.cms.model.Site" >
    update cms_site
    set org_id = #{orgId,jdbcType=BIGINT},
      site_name = #{siteName,jdbcType=VARCHAR},
      site_url = #{siteUrl,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      copyright = #{copyright,jdbcType=VARCHAR},
      site_style = #{siteStyle,jdbcType=VARCHAR},
      site_mobile_style = #{siteMobileStyle,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER}
    where site_id = #{siteId,jdbcType=BIGINT}
  </update>
</mapper>