<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
	    
        <setting name="cacheEnabled" value="true" />
		<!-- disable lazy loading for testing as we do not want CGLIB on our classpath -->
	    <setting name="lazyLoadingEnabled" value="false"/>
		<!-- <setting name="lazyLoadingEnabled" value="true" /> -->
		<setting name="useGeneratedKeys" value="false"/>
        <setting name="aggressiveLazyLoading" value="false" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="autoMappingBehavior" value="FULL" />
        <setting name="defaultExecutorType" value="SIMPLE" />
        <setting name="defaultStatementTimeout" value="25000" />
    </settings>
    <typeAliases>
		<typeAlias type="com.xzjie.gypt.common.page.PageEntity" alias="pageEntity"/>  <!-- 分页 -->
	</typeAliases>
    <plugins>
        <plugin interceptor="com.xzjie.gypt.common.page.PagePlugin">
            <property name="dialect" value="mysql" />
            <property name="pageSqlId" value=".*ListPage" />
        </plugin>
    </plugins>
</configuration>