<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- start  -->
    <bean id="wxAccountFollowTask" class="com.xzjie.et.wechat.task.WxAccountFollowTask"></bean>

    <bean id="wxAccountFollowDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="wxAccountFollowTask"/>
        <property name="targetMethod" value="execute"/>
        <!--作业不并发调度,上一次未执行完成的，要等待有再执行。-->
        <property name="concurrent" value="false"/>
    </bean>

    <!--按照一定频率的触发器-->
    <!--<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="reconciliationTaskFactory"/>
         <property name="startDelay" value="0"/>
         <property name="repeatInterval" value="2000"/>
     </bean>-->

    <!--Cron表达式触发器-->
    <bean id="wxAccountFollowTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="wxAccountFollowDetail"/>
        <property name="cronExpression" value="0/5 * * * * ?"/>
    </bean>

    <!-- end Task -->


    <!-- Scheduler factory bean to glue together jobDetails and triggers to Configure Quartz Scheduler -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="wxAccountFollowDetail"/>
                <!--<ref bean="settlementDetail" />
                <ref bean="pollingDetail" />-->
            </list>
        </property>

        <property name="triggers">
            <list>
                <!--<ref bean="wxAccountFollowTrigger"/>-->
                <!--  <ref bean="settlementTrigger"/>-->
                <!--<ref bean="pollingTrigger"/>-->
            </list>
        </property>
    </bean>
</beans>