<#include "/admin/_inc/_head.html"/>
<#include "/admin/_inc/_layout.html" />
<!DOCTYPE HTML>
<html>

<head>
  <@head title="后台登录" />
    <link href="/assets/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script>if (window.top !== window.self) {
        window.top.location = window.location;
    }</script>
</head>

<body class="gray-bg">
  <@layout>
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">亿友光电</h1>

            </div>
           <#-- <h3>欢迎使用 ...</h3>-->

            <div style="color: red">${error}</div>

            <form id="form" class="m-t" role="form" action="${ctx_admin}/login" method="post">
                <div class="form-group">
                    <input name="username" type="text" class="form-control" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="密码" required="">
                </div>
                <div class="form-group text-left">
                    <input name="captcha" class="form-control" type="text" placeholder="验证码"
                           style="width:150px;display: inline-block;vertical-align: middle;">
                    <img id="captcha-img" src="/kaptcha/image" style="width: 100px;height: 35px;">
                    <a id="btn-kaptcha" href="javascript:;">换一张</a>

                </div>
                <div class="form-group text-left">
                    <label class="hover" for="rememberMe">
                        <input class="i-checks" type="checkbox" id="rememberMe" name="rememberMe">记住密码
                    </label>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">登 录</button>


            <#--<p class="text-muted text-center"> <a href="login.html#"><small>忘记密码了？</small></a> | <a href="register.html">注册一个新账号</a>
            </p>-->

            </form>
        </div>
    </div>
  </@layout>
<#--<script src="/assets/js/plugins/iCheck/icheck.min.js"></script>
<script src="/assets/js/plugins/validate/jquery.validate.min.js"></script>-->
<script src="/assets/js/plugins/validate/messages_zh.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",});
        $('#btn-kaptcha').click(function () {
            $('#captcha-img').attr('src', '/kaptcha/image');
        });
        //$('#form').validate();
    })

</script>

</body>

</html>