<#macro footer>
    <footer class="footer ">

        <ul>

            <li class="am-u-lg-4 am-u-md-4 am-u-sm-12 part-5-li2">
                <div class="part-5-title">联系我们</div>
                <div class="part-5-words2">
                    <span>地址:福建省三明市尤溪县西城镇闽中电子商务产业园17#B201</span>
                    <span>QQ:513961835</span>
                    <span>QQ2:812266048</span>
                    <span>邮箱:513961835@qq.com</span>
                    <!--<span><i class="am-icon-phone"></i><em >027-82671661</em></span>-->
                </div>
            </li>
            <!--<li class="am-u-lg-4 am-u-md-4 am-u-sm-12 ">
                <div class="part-5-title">相关链接</div>
                <div class="part-5-words2">
                    <ul class="part-5-words2-ul">
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="solutions.html">解决方案</a></li>
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="product-show.html">产品展示</a></li>
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="customer-case.html">客户案例</a></li>
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="service-center.html">服务中心</a></li>
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="about-us.html">关于我们</a></li>
                        <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="recruit.html">招贤纳士</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </li>-->
            <div class="clear"></div>
        </ul>

    </footer>

    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="assets/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="js/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="js/amazeui.min.js"></script>
    <script src="js/scroll.js"></script>
</#macro>