<#assign lang="zh-CN" />
<#--<#assign siteId="${cid}" />-->
<#assign siteId="1" />
<@et.site id="${siteId}">
    <#assign ctx="${site.siteUrl}" />
    <#assign logo="${site.logo?default('/img/logo.png')}" />
    <#assign site_name="${site.siteName?default('鹰视科技')}" />
    <#assign site_title="${site.title?default('')}" />
    <#assign theme="${site.theme?default('admin')}"/>
</@et.site>
<#assign cdn="${resources}/resources/assets" />
<#assign ctx_admin="${ctx}admin" />
<#assign f_ctx="${ctx}/f" />
