<#macro footer>
	<div class="loader"></div>

    <!-- start: MAIN JAVASCRIPTS -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/modernizr/modernizr.js"></script>
	<script src="/vendor/jquery-cookie/jquery.cookie.js"></script>
	<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="/vendor/switchery/switchery.min.js"></script>
	<!-- end: MAIN JAVASCRIPTS -->
	<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
	<script src="/vendor/Chart.js/Chart.min.js"></script>
	<script src="/vendor/jquery.sparkline/jquery.sparkline.min.js"></script>
	<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
	<!-- bootstrap-table-->
	<script type="text/javascript" src="/vendor/bootstrap-table/bootstrap-table.js"></script>
	<script type="text/javascript" src="/vendor/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
	<!-- end bootstrap-table-->
	<script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
	<script src="/vendor/jquery-smart-wizard/jquery.smartWizard.js"></script>
	<script src="/vendor/jquery-validation/localization/messages_zh.min.js"></script>
	<script src="/vendor/sweetalert/sweet-alert.min.js"></script>

	<script src="/vendor/laydate/laydate.js"></script>

	<script src="/vendor/select2/js/select2.min.js"></script>
	<script src="/vendor/select2/js/i18n/zh-CN.js"></script>

	<script src="/vendor/jquery-file-upload/vendor/jquery.ui.widget.js"></script>
	<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
	<script src="/vendor/javascript-Load-Image/load-image.all.min.js"></script>
	<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
	<script src="/vendor/jquery-file-upload/jquery.iframe-transport.js"></script>
	<!-- The basic File Upload plugin -->
	<script src="/vendor/jquery-file-upload/jquery.fileupload.js"></script>
	<!-- The File Upload processing plugin -->
	<script src="/vendor/jquery-file-upload/jquery.fileupload-process.js"></script>
	<!-- The File Upload image preview & resize plugin -->
	<script src="/vendor/jquery-file-upload/jquery.fileupload-image.js"></script>
	<!-- The File Upload audio preview plugin -->
	<script src="/vendor/jquery-file-upload/jquery.fileupload-audio.js"></script>
	<!-- The File Upload video preview plugin -->
	<script src="/vendor/jquery-file-upload/jquery.fileupload-video.js"></script>
	<!-- The File Upload validation plugin -->
	<script src="/vendor/jquery-file-upload/jquery.fileupload-validate.js"></script>
	<!-- The File Upload user interface plugin -->
	<script src="/vendor/jquery-file-upload/jquery.fileupload-ui.js"></script>

	<script src="/vendor/jquery-image-preview/js/jquery.imagePreview.1.0.js"></script>

	<script type="text/javascript" src="/vendor/jquery-treegrid/js/jquery.treegrid.extension.js"></script>

	<script type="text/javascript" src="/vendor/zTree/v3/js/jquery.ztree.all-3.5.js"></script>
	<script type="text/javascript" src="/assets/js/droptree.js"></script>

	<script type="text/javascript" src="/vendor/layer/build/layer.js"></script>
	<!-- start: CLIP-TWO JAVASCRIPTS -->
	<script src="/assets/js/common.js"></script>
</#macro>