<#include "/able/_inc/_common.html"/>
<#macro head title="" keywords="" description="" >
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <@et.site id="${siteId}">
	<title><#if title!=''>${title}-</#if><#if (site.title=='')>${site.siteName?default('鹰视科技-后台')}<#else>${site.title}</#if></title>
	<meta name="keywords" content="<#if keywords!=''>${keywords}<#else>${site.keywords?default('鹰视科技-后台')}</#if>">
    <meta name="description" content="<#if description!=''>${description}<#else>${site.description?default('')}</#if>">
    </@et.site>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <base href="${ctx}">

    <!-- end: META -->
    <!-- start: GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <!-- end: GOOGLE FONTS -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/themify-icons/themify-icons.min.css">
    <link href="vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
    <!-- end: MAIN CSS -->
    <!-- start: CLIP-TWO CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/plugins.css">
    <link rel="stylesheet" href="/assets/css/themes/theme-1.css" id="skin_color" />

    <!-- end: CLIP-TWO CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link rel="stylesheet" href="/vendor/bootstrap-table/bootstrap-table.css">
    <link href="/vendor/sweetalert/sweet-alert.css" rel="stylesheet" media="screen">
    <link href="/vendor/sweetalert/ie9.css" rel="stylesheet" media="screen">

    <link href="/vendor/select2/css/select2.min.css" rel="stylesheet" media="screen">

    <link href="/vendor/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet">

    <link href="/vendor/jquery-treegrid/css/jquery.treegrid.css" rel="stylesheet">

    <link href="/vendor/zTree/v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css" />
    <link href="/vendor/layer/build/skin/default/layer.css" rel="stylesheet" type="text/css" />

    <link href="/vendor/dropzone/dropzone.css" rel="stylesheet" type="text/css" />
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    <style type="text/css">
        .navbar .navbar-right > li.current-user > a span {
            max-width: 52px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        #sidebar > div nav > ul {
            margin: 0 0 10px;
        }
        #page-title{
            padding: 15px 0;
        }
        .fixed-table-container{
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
        }

        .container-fullw {
            margin-left: 15px;
            margin-right: 15px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 10px;
            padding-bottom: 30px;
        }

        .panel {
            margin-bottom: 0px;
        }

        .bootstrap-table .btn{
            padding: 2px 4px;
            margin: 0 2px;
        }


        .bread-right{
            border-radius: 50px;
            padding: 0 6px 0 8px;
        }
        .bread-left{
            border-radius: 50px;
            padding: 0 8px 0 6px;
        }

        .select2-container .select2-selection--single {
            height: auto!important;
            line-height: 32px;
        }
        .select2-container--default .select2-selection--single{
            border-radius: 0;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered{
            line-height: 32px;
        }

        .laydate-icon, .laydate-icon-default, .laydate-icon-danlan, .laydate-icon-dahong, .laydate-icon-molv {
            height: auto!important;
            line-height: initial!important;
            border-radius: 0;
        }


        .mfs-container {
            /* min-width: 150px;max-height: 100px;  */
            /* position: relative; */
        }
        .mfs-container a{color: #5b5b60;}

        .mfs-selected-option {
            border: 1px #ccc solid;
            display: inline-block;
            width: 100%;
            font-size: 14px;
            height: 31px;
            line-height: 2.42857;
            padding-left: 4px;
        }


        .mfs-options {
            position: absolute;
            border: 1px #ccc solid;
            /* border-top:0px; */
            width: 100%;
            margin: 0;
            padding: 0px;
            color: #333;
            overflow: auto;
            min-height: 100px;
            max-height: 300px;
            background: #ffffff;
            z-index: 9;
            margin-top: -6px;
        }


        /** loader **/
        .loader {
            background: rgba(189,195,199,1);
            height: 3em;
            width: 3em;
            margin: 7em auto;
            animation: loadit 4s linear infinite;
            position: absolute;
            top:30%;
            left: 50%;
            display: none;
        }

        @keyframes loadit {
            55% {
                background: rgba(189,195,199,0.4);
                border-radius: 100%;
                transform: rotate(360deg);
                box-shadow: 7em 0 0 rgba(189,195,199,0.3),-7em 0 0 rgba(189,195,199,0.3),3em 0 0 rgba(189,195,199,0.3),-3em 0 0 rgba(189,195,199,0.3),0 7em 0 rgba(189,195,199,0.3),0 -7em 0 rgba(189,195,199,0.3),0 3em 0 rgba(189,195,199,0.3),0 -3em 0 rgba(189,195,199,0.3);
            }
        }

        .pause {
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            color: rgba(189,195,199,0.4);
            cursor: pointer;
        }

        .pauseit {
            animation-play-state: paused;
        }

        .kanu {
            position: absolute;
            bottom: 0.5em;
            right: 0.5em;
            color: rgba(189,195,199,0.4);
        }

        .kanu a{
            color: inherit;
            text-decoration: none;
        }
        /** loader **/
    </style>


</#macro>
