<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzjie.et.ad.dao.AdMapper" >
  <resultMap id="BaseResultMap" type="com.xzjie.et.ad.model.Ad" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="position_id" property="positionId" jdbcType="BIGINT" />
    <result column="media_type" property="mediaType" jdbcType="TINYINT" />
    <result column="ad_name" property="adName" jdbcType="VARCHAR" />
    <result column="ad_link" property="adLink" jdbcType="VARCHAR" />
    <result column="ad_code" property="adCode" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="man" property="man" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="click_count" property="clickCount" jdbcType="INTEGER" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="site_id" property="siteId" jdbcType="BIGINT" />
  </resultMap>

  <resultMap id="PageBaseResultMap" type="com.xzjie.et.ad.model.Ad" extends="BaseResultMap">
    <result column="position_name" property="positionName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, position_id, media_type, ad_name, ad_link, ad_code, start_time, end_time, man, 
    email, phone, click_count, enabled, create_date
  </sql>

  <select id="selectList" resultMap="BaseResultMap" parameterType="com.xzjie.et.ad.model.Ad">
    select
    <include refid="Base_Column_List" />
    from et_ad
    where 1=1
    <if test="enabled != null and enabled !=''">
      and enabled= #{enabled,jdbcType=BIT}
    </if>
    <if test="positionId != null">
      and position_id = #{positionId,jdbcType=BIGINT}
    </if>
    order by id desc
  </select>

  <select id="selectListPage" resultMap="PageBaseResultMap" parameterType="entity">
    select
    a.id, a.position_id, a.media_type, a.ad_name, a.ad_link, a.ad_code, a.start_time,
    a.end_time, a.man, a.email, a.phone, a.click_count, a.enabled, a.create_date
    ,b.position_name
    from et_ad a inner join et_ad_position b on a.position_id=b.id
    where a.site_id = #{t.siteId,jdbcType=BIGINT}
    order by a.id desc
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from et_ad
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from et_ad
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xzjie.et.ad.model.Ad" >
    insert into et_ad (id, position_id, media_type,
      ad_name, ad_link, ad_code, 
      start_time, end_time, man, 
      email, phone, click_count, 
      enabled, create_date)
    values (#{id,jdbcType=BIGINT}, #{positionId,jdbcType=BIGINT}, #{mediaType,jdbcType=TINYINT}, 
      #{adName,jdbcType=VARCHAR}, #{adLink,jdbcType=VARCHAR}, #{adCode,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{man,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{clickCount,jdbcType=INTEGER}, 
      #{enabled,jdbcType=BIT}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xzjie.et.ad.model.Ad" >
    insert into et_ad
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="positionId != null" >
        position_id,
      </if>
      <if test="mediaType != null" >
        media_type,
      </if>
      <if test="adName != null" >
        ad_name,
      </if>
      <if test="adLink != null" >
        ad_link,
      </if>
      <if test="adCode != null" >
        ad_code,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="man != null" >
        man,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="clickCount != null" >
        click_count,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="siteId != null">
        site_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="positionId != null" >
        #{positionId,jdbcType=BIGINT},
      </if>
      <if test="mediaType != null" >
        #{mediaType,jdbcType=TINYINT},
      </if>
      <if test="adName != null" >
        #{adName,jdbcType=VARCHAR},
      </if>
      <if test="adLink != null" >
        #{adLink,jdbcType=VARCHAR},
      </if>
      <if test="adCode != null" >
        #{adCode,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="man != null" >
        #{man,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="clickCount != null" >
        #{clickCount,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="siteId != null">
        #{siteId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzjie.et.ad.model.Ad" >
    update et_ad
    <set >
      <if test="positionId != null" >
        position_id = #{positionId,jdbcType=BIGINT},
      </if>
      <if test="mediaType != null" >
        media_type = #{mediaType,jdbcType=TINYINT},
      </if>
      <if test="adName != null" >
        ad_name = #{adName,jdbcType=VARCHAR},
      </if>
      <if test="adLink != null" >
        ad_link = #{adLink,jdbcType=VARCHAR},
      </if>
      <if test="adCode != null" >
        ad_code = #{adCode,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="man != null" >
        man = #{man,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="clickCount != null" >
        click_count = #{clickCount,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzjie.et.ad.model.Ad" >
    update et_ad
    set position_id = #{positionId,jdbcType=BIGINT},
      media_type = #{mediaType,jdbcType=TINYINT},
      ad_name = #{adName,jdbcType=VARCHAR},
      ad_link = #{adLink,jdbcType=VARCHAR},
      ad_code = #{adCode,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      man = #{man,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      click_count = #{clickCount,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=BIT},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>