<#macro footer>
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="/assets/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="/assets/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="/assets/static/h-ui.admin/js/H-ui.admin.js"></script>
    <!--/_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="/assets/js/common.js"></script>
</#macro>