<#include "/admin/_inc/_common.html"/>
<#macro head title="" keywords="" description="">
      <meta charset="utf-8">
      <meta name="renderer" content="webkit|ie-comp|ie-stand">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
      <meta http-equiv="Cache-Control" content="no-siteapp" />
      <link rel="Bookmark" href="/favicon.ico">
      <link rel="Shortcut Icon" href="/favicon.ico" />
      <!--[if lt IE 9]>
      <script type="text/javascript" src="/assets/lib/html5shiv.js"></script>
      <script type="text/javascript" src="/assets/lib/respond.min.js"></script>
      <![endif]-->
      <link rel="stylesheet" type="text/css" href="/assets/static/h-ui/css/H-ui.min.css" />
      <link rel="stylesheet" type="text/css" href="/assets/static/h-ui.admin/css/H-ui.admin.css" />
      <link rel="stylesheet" type="text/css" href="/assets/lib/Hui-iconfont/1.0.8/iconfont.css" />
      <link rel="stylesheet" type="text/css" href="/assets/static/h-ui.admin/skin/default/skin.css" id="skin" />
      <link rel="stylesheet" type="text/css" href="/assets/static/h-ui.admin/css/style.css" />

      <link rel="stylesheet" type="text/css" href="/assets/lib/bootstrap-table/bootstrap-table.css" />
      <style>
            .table>thead>tr>th,
            .table>tbody>tr>th,
            .table>tfoot>tr>th,
            .table>thead>tr>td,
            .table>tbody>tr>td,
            .table>tfoot>tr>td {
                  padding: 8px;
                  line-height: 1.42857143;
                  vertical-align: top;
                  border-top: 1px solid #ddd;
            }
      </style>
      <!--[if IE 6]>
      <script type="text/javascript" src="/assets/lib/DD_belatedPNG_0.0.8a-min.js"></script>
      <script>DD_belatedPNG.fix('*');</script>
      <![endif]-->
      <title>后台</title>
      <meta name="keywords" content="">
      <meta name="description" content="">

      <base href="${ctx}">

</#macro>